@charset "utf-8";
body {margin:0px;padding:0px;}
body,html,div,dt,dd,a,p,span,strong,td,th,h1,h2,h3,h4,h5,input{ font-family:"微软雅黑", "宋体";}
a:link,a:visited{ font-size:14px; color:black; text-decoration:none;}
a:hover{ font-size:14px; color:red; text-decoration:none;}
*{outline:none;}

header.findstyle{ margin:0px; padding:0px; width:100%; overflow:hidden; font-size:14px;}
header.findstyle ul.list{ margin:0px; padding:20px; display:-webkit-box;}
header.findstyle ul.list li{ margin:0px; padding:0px; list-style-type:none;}
header.findstyle ul.list li.userid{ width:80px; text-align:right; line-height:30px;}
header.findstyle ul.list li.textinput{-webkit-box-flex:1;}
header.findstyle ul.list li.textinput input{ width:100%; height:30px; border: solid 1px #d4d4d4; padding:0px 10px;}
header.findstyle ul.list li.findbtn{ width:60px;}
header.findstyle ul.list li.findbtn input{ width:60px; height:32px; background:#4694dd; color:white; border:none;}
header.findstyle ul.list li.findbtn input:hover{ width:60px; height:32px; background:#75b3ee; color:white; border:none; cursor: pointer;}

div.btn{ margin:20px 20px;}
div.btn input.bdbtn{ width:100%;-webkit-box-flex:1; height:40px; background:#4694dd; color:white; border:none; border-radius:5px; cursor: pointer;}
div.btn input.bdbtn:hover{ width:100%; height:40px; background:#75b3ee; color:white; border:none; border-radius:5px; cursor: pointer;}
div.btn h1{ margin:20px 0px; padding:0px;font-size:14px; font-weight:normal; overflow:hidden;}
div.btn input.jeinput{ width:100%; height:40px; background:#fff; border: solid 1px #efefef; margin:0px auto; text-align:center;}

section.userinfo{ margin:0px; padding:0px; width:100%; overflow:hidden; font-size:14px;}
section.userinfo ul.list{ margin:0px; padding:20px;}
section.userinfo ul.list li{ margin:0px; padding:0px; list-style-type:none; display:-webkit-box;}
section.userinfo ul.list li strong{ width:80px; text-align:right; line-height:30px; display:block; line-height:30px;}
section.userinfo ul.list li span{-webkit-box-flex:1; line-height:30px; display:block; color:#8F8F8F;}

header.findstyle h1{ margin:20px; padding:0px;font-size:14px; font-weight:normal; overflow:hidden;}
header.findstyle ul.numlist{ margin:20px; padding:0px; overflow:hidden;}
header.findstyle ul.numlist li{ margin:20px 0px; padding:0px; width:33%; overflow:hidden; display: inline-block; float:left; text-align:center;}
header.findstyle ul.numlist li a{ display: block; width:40px; height:40px; text-align:center; line-height:40px; background:white; border: solid 1px #efefef; margin:0px auto;}
header.findstyle ul.numlist li a:hover,header.findstyle ul.numlist li a:focus{ display: block; width:40px; height:40px; text-align:center; line-height:40px; background:#efefef; border: solid 1px #efefef; margin:0px auto; color:black;}

/*20160321*/
section.re01{ display:-webkit-box;-webkit-box-flex:1; margin:10px; border: solid 1px #efefef; padding:10px; border-radius:5px;}
section.re01 ol{ margin:0px 0px 0px 40px; padding:0px;}
section.re01 ol li{ margin:0px; padding:0px; font-size:12px; color:#888888; line-height:30px; list-style-type:none;}
section.re01 ol li span{ margin:0px; padding:0px; display: inline-block; color:black; width:80px; text-align:right;}

aside.dq{ display:-webkit-box;-webkit-box-flex:1; margin:10px; padding:10px; background:#95c4f0; color:white; border-radius:5px;}
aside.dq ol{ margin:0px 0px 0px 40px; padding:0px;}
aside.dq ol li{ margin:0px; padding:0px; font-size:14px; line-height:24px;}

